* {
    padding: 0px;
    margin: 0px;
}

.foil1
img { 
position: absolute;
bottom: 105px;
left: 134px;
width: 125px;
height: 120px;
transform: rotate(-18deg);
}

.foil2
img { 
position: absolute;
bottom: 314px;
left: 95px;
width: 125px;
height: 120px;
transform: rotate(45deg);
}
.foil3
img { 
position: absolute;
bottom: 440px;
left: 138px;
width: 92px;
height: 90px;
transform: rotate(120deg);
}
.foil4
img { 
position: absolute;
bottom: 413px;
left: 25px;
width: 90px;
height: 76px;
transform: rotate(185deg);
}

.foil5
img { 
position: absolute;
bottom: 369px;
left: 227px;
width: 110px;
height: 123px;
transform: rotate(198deg);
}

.foil6
img { 
position: absolute;
bottom: 228px;
left: 227px;
width: 82px;
height: 127px;
transform: rotate(329deg);
}

.foil7
img { 
position: absolute;
bottom: 196px;
left: 27px;
width: 95px;
height: 161px;
transform: rotate(503deg);
} 

.foil8
img { 
position: absolute;
bottom: 227px;
left: 142px;
width: 90px;
height: 83px;
transform: rotate(329deg);
} 

.foil9 
img { 
position: absolute;
bottom: 152px;
left: 15px;
width: 85px;
height: 78px;
transform: rotate(329deg);
}

.clouds1 
img { 
position: absolute;
bottom: 344px;
left: 880px;
width: 70px;
height: 75px;
transform: rotate(329deg);
}

.clouds2
img { 
position: absolute;
bottom: 380px;
left: 970px;
width: 95px;
height: 65px;
transform: rotate(308deg);
}

.clouds3
img { 
position: absolute;
bottom: 130px;
left: 1035px;
width: 95px;
height: 65px;
transform: rotate(308deg);
}

.clouds4
img { 
position: absolute;
bottom: 274px;
left: 975px;
width: 115px;
height: 95px;
transform: rotate(308deg);
}

.clouds5
img { 
position: absolute;
bottom: 280px;
left: 1080px;
width: 188px;
height: 125px;
transform: rotate(286deg);
}

.clouds6
img { 
position: absolute;
bottom: 190px;
left: 868px;
width: 142px;
height: 89px;
transform: rotate(408deg);
}

.clouds7
img { 
position: absolute;
bottom: 202px;
left: 1034px;
height: 92px;
transform: rotate(305deg);
} 

.clouds8 
img { 
position: absolute;
bottom: 430px;
left: 1045px;
height: 79px;
transform: rotate(395deg);
} 

.geo1
img { 
position: absolute;
bottom: 265px;
left: 536px;
height: 175px;
transform: rotate(395deg);
} 

.geo2
img { 
position: absolute;
bottom: 179px;
left: 603px;
height: 69px;
transform: rotate(480deg);
}

.geo3
img { 
position: absolute;
bottom: 179px;
left: 456px;
height: 69px;
transform: rotate(524deg);
}

.geo4
img { 
position: absolute;
bottom: 288px;
left: 456px;
height: 132px;
transform: rotate(571deg);
}

.geo5
img { 
position: absolute;
bottom: 403px;
left: 456px;
height: 132px;
transform: rotate(622deg);
}

.geo6
img { 
position: absolute;
bottom: 315px;
left: 677px;
height: 132px;
transform: rotate(605deg);
}

.geo7
img { 
position: absolute;
bottom: 280px;
left: 677px;
height: 50px;
transform: rotate(605deg);
} 

.geo8
img { 
position: absolute;
bottom: 210px;
left: 588px;
height: 50px;
transform: rotate(605deg);
}

.geo9
img { 
position: absolute;
bottom: 441px;
left: 588px;
height: 50px;
transform: rotate(605deg);
}

.geo10
img { 
position: absolute;
bottom: 257px;
left: 488px;
height: 50px;
transform: rotate(605deg);
}
.geo11
img { 
position: absolute;
bottom: 416px;
left: 636px;
height: 50px;
transform: rotate(605deg);
}

.cotton1
img {
position: absolute;
bottom: 250px;
left: -50px;
height: 320px;
}

.cotton2
img {
position: absolute;
bottom: 100px;
left: 500px;
height: 440px;
}

.cotton3
img {
position: absolute;
bottom: 55px;
left: 298px;
height: 545px
}

.cotton4
img {
position: absolute;
bottom: 20px;
left: 600px;
height: 600px;
}

.cotton5 
img {
position: absolute;
bottom: -30px;
left: 405px;
height: 730px;
}

.alu1
img {
position: absolute;
bottom: 250px;
left: -50px;
height: 380px;
}

.alu2
img {
position: absolute;
bottom: 100px;
left: 500px;
height: 530px;
}

.alu3
img {
position: absolute;
bottom: 65px;
left: 300px;
height: 520px;
}

.alu4
img {
position: absolute;
bottom: 65px;
left: 600px;
height: 600px;
}

.alu5
img {
position: absolute;
bottom: 35px;
left: 200px;
height: 660px;
}

.alu6 
img {
position: absolute;
bottom: -80px;
left: 600px;
height: 790px;
}

.alu7
img {
position: absolute;
bottom: -70px;
left: 338px;
height: 800px;
} 

.geom1
img {
    position: absolute;
    bottom: 50px;
    left: 448px;
    height: 500px;
}

.geom2
img {
    position: absolute;
    bottom: 50px;
    left: 448px;
    height: 500px;
}

.geom3
img {
   position: absolute;
    bottom: 12px;
    left: 375px;
    height: 595px;
}

.geom4
img {
    position: absolute;
    bottom: 130px;
    left: 372px;
    height: 400px;
}

.geom5
img {
    position: absolute;
    bottom: 12px;
    left: 165px;
    height: 540px;
}

.geom6
img {
    position: absolute;
    bottom: 75px;
    left: 404px;
    height: 485px;
}

.word {
position: absolute;
font-family: arial;
font-size: 25px;
font-weight: bold;
line-height: 75px;
letter-spacing: 3px;
left: 430px;
padding: 20px;
margin: 10px;
	
}

.word1 {
position: absolute;
text-align: left;
font-family: arial;
font-size: 20px;
font-weight: bold;
line-height: 65px;
letter-spacing: 3px;
padding: 20px;
column-count:2;
column-span: all;
text-decoration: none;
	
}

.word2 {
  position: absolute;
  font-family: arial;
  font-weight: bold;
  bottom: 10px;
  left: 70px;
  width: 50%;
  padding: 30px;
  text-decoration: none;

}

.word3 {
  position: absolute;
  font-family: arial;
  font-weight: bold;
  text-align: center;
  bottom: 10px;
  left: 260px;
  width: 50%;
  padding: 30px;
  text-decoration: none;

}

.word4 {
  font-family: arial;
  font-weight: bold;
  position: absolute;
  text-align: right;
  bottom: 10px;
  left:420px;
  width: 50%;
  padding: 30px;
  text-decoration: none;

}

.sound {
position: absolute;
bottom: 10px;
padding: 30px;

}









